* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
    font-family: sans-serif;
}


.container__main__card{
    display: grid;

    grid-template-columns: 400px 400px;
    grid-template-rows: 400px 48px;

    grid-template-areas: 
    'gridAvatar gridData'
    'gridSelect gridData';
}
.container__main__card__avatar  {grid-area: gridAvatar;}
.container__main__card__select  {grid-area: gridSelect;}
.container__main__card__data    {grid-area: gridData;}

@media screen and (max-width: 801px) {

    .container__main__card {
        display: grid;

        grid-template-columns: 400px;
        grid-template-rows: 400px 48px auto;
        
        grid-template-areas: 
        'gridAvatar'
        'gridSelect'
        'gridData';
    }
}

.container {
    height: 90vh;
    width: 100wh;
}

/*  --- INICIO --- Container__main  */
.container__main {
    display: block;
    /* background-image: url(https://amadeus.com//content/dam/amadeuswebevo/brand/amadeus/colors/transparent/svg/dark-transparent-outline-arrow-right.svg); */
    background-color: var(--colorBand-medium);
    height: 90vh;
    width: 100%;
    align-content: center;
}
/*  --- --- GRID card  */
.container__main__card {
    background-color: var(--colorBand-dark);
    height: fit-content;
    width: fit-content;
    margin: auto;
    /* padding: 2rem 4rem; */
}

/*  Slideshow container  */
.container__main__card__avatar {
    display: inline-block;
    height: 100%;
    width: 100%;
    /* justify-content: center; */
    /* margin: auto; */
}

/*  Hide the images by default  */
.container__main__card__avatar--img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding: 1rem;

    & img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        border-radius: 50%;
        overflow: hidden;
        
    }
}

.container__main__card__select {
    /* display: block; */
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    /* justify-content: center; */
    /* align-content: center; */
    text-align:center;
    /* padding-bottom:0.5rem ; */
    /* justify-content:space-evenly ; */
}

/*  The dots/bullets/indicators  */
.container__main__card__dot {
    display: inline-block;
    height: 100%;
    width: 60%;
    align-content: center;
    /* text-align:center; */
    margin: auto;
    /* justify-content:space-evenly ; */
}

.dot {
    display: inline-block;
    background-color: var(--colorButtonFont-light);
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    cursor: pointer;
    margin: 0rem 0.75rem;
    /* transition: background-color 0.6s ease; */

    &:hover {
        background-color: var(--colorButtonHover-dark);
        border: 2px solid var(--colorButtonFont-light);
    }

    &:active {
        background-color: var(--colorButtonActive-dark);
        border: 2px solid var(--colorButtonFont-light);
    }
}

.prev, .next {
    display: inline-block;
    height: 100%;
    width: 20%;
    /* align-content: center; */
    /* text-align: center; */
    /* justify-content: center; */
    color: var(--colorButtonFont-light);
    font-size: 2.0rem;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background-color: var(--colorButtonHover-dark);
    }
    &:active {
        background-color: var(--colorButtonActive-dark);
    }
}

.active {
    background-color: var(--colorButtonActive-dark);
    border: 2px solid var(--colorButtonFont-light);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 0.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.container__main__card__data {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1.5rem;
    padding: 1rem;
    justify-content: center;
    /* justify-content: space-evenly; */
}

.container__main__card__data--input {
    background-color: var(--colorBand-white);
    border: none;
    font-size: 1.5rem;
    color: var(--colorInputFont-light);
    height: 2rem;
    width: 100%;
    padding: 0.5rem 0.5rem;
    text-align: center;
}

.container__main__card__data--personalData{
    display: inline;
}

.container__main__card__data--checkbox{

    color: var(--colorBand-white);
     & a{
        color: var(--colorBand-white);
        font-weight: bold;
    }
}


.container__main__card__data--alert{
    color: #fff;
}

.container__main__card__data--button {
    background-color: var(--colorButtonBG-dark);
    border: none;
    font-size: 2.0rem;
    color: var(--colorButtonFont-dark);
    height: 3rem;
    width: 100%;
    padding: 0rem 0.5rem;
    /* font-size: larger; */
    text-align: center;
    

    &:hover {
        background-color: var(--colorButtonHover-dark);
    }
    &:active {
        background-color: var(--colorButtonActive-dark);
    }
}

.container__main__card__info {
    display: inline-block;
    color: var(--colorButtonFont-light);
    height: 100%;
    width: 100%;
    padding: 1rem;
    align-content: center;
}

.container__main__card__info--h2 {
    font-size: 3rem;
    margin: 1rem 0rem;
    text-align: center;
}

.container__main__card__info--p {
    font-size: 1.5rem;
    margin: 1rem 0rem;
    padding: 0rem 0rem;
    text-align: justify;
}
/*  --- FIN --- Container__main  */


/*  --- INICIO --- Estilos Button  */
.buttonBG--dark {
    border-style: none;
    border-radius: 6px;
    height: 2rem;
    width: 6rem;
    color: var(--colorButtonFont-dark);
    background-color: var(--colorButtonBG-dark);

    &:hover {
        background-color: var(--colorButtonHover-dark);
    }

    &:active {
        background-color: var(--colorButtonActive-dark);
    }
} 

.buttonBG--light {
    border-style: none;
    border-radius: 6px;
    height: 2rem;
    width: 6rem;
    color: var(--colorButtonFont-light);
    background-color: var(--colorButtonBG-light);

    &:hover {
        background-color: var(--colorButtonHover-light);
    }

    &:active {
        background-color: var(--colorButtonActive-light);
    }
} 
/*  --- FIN --- Estilos Button  */

/*  --- INICIO --- @keyframe  */

/*  --- FIN ---  @keyframe  */



