<body class="container">
    <!--  -->
    <form class="container__main">
        <!-- Slideshow container -->
        <div class="container__main__card">
            <!--  -->
            <section class="container__main__card__avatar">
                <!-- Full-width images with number and caption text -->
                <div class="container__main__card__avatar--img fade">
                    <img src="../../../assets/img/img-avatar/ava11.png" width="100%">
                </div>
                
                <div class="container__main__card__avatar--img fade">
                    <img src="../../../assets/img/img-avatar/ava12.png" width="100%">
                </div>
                
                <div class="container__main__card__avatar--img fade">
                    <img src="../../../assets/img/img-avatar/ava13.png" width="100%">
                </div>
                
                <div class="container__main__card__avatar--img fade">
                    <img src="../../../assets/img/img-avatar/ava14.png" width="100%">
                </div>
            </section>
            
            <section class="container__main__card__select">
                <!--  Previous button  -->
                <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
                <!--  The dots/circles  -->
                <div class="container__main__card__dot">
                    <span class="dot" (click)="currentSlide(1)"></span>
                    <span class="dot" (click)="currentSlide(2)"></span>
                    <span class="dot" (click)="currentSlide(3)"></span>
                    <span class="dot" (click)="currentSlide(4)"></span>
                </div> 
                <!--  Next button  -->
                <a class="next" (click)="plusSlides(1)">&#10095;</a>
            </section>
            
            <section class="container__main__card__data">
                <input class="container__main__card__data--input" type="text" placeholder="Nombre" [formControl]="nombre" (keyup)="verificarNomb($event)">
                <input class="container__main__card__data--input" type="email" placeholder="Correo electrónico" [formControl]="correo" (keyup)="verificarCorreo($event)">
                <label class="container__main__card__data--alert">{{estadoCorreo}}</label>
                <button class="container__main__card__data--button" type="button" (click)="datosUsuario()" routerLink="/tarjetas" [disabled]="controlBoton">¡Próxima aventura!</button>
                <!-- <button class="buttonBG--dark " type="button">Próxima aventura</button> -->
            </section>
        </div> 
    </form>
</body>