header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    /* position: fixed; */
    top: 0;
    width: 100%;
    height: 10vh;
}

.nav__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: 20px;
    margin-top: 5px;
    height: 4vh;
}

.nav__lista{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
    
    
}

.nav__lista li{
    text-decoration: none;
    list-style: none;
    
}

.nav__lista li a {
    text-decoration-line: none;
    color: var(--parrafo-color);
    font-size: 1.25em;
    margin: 5px;
    padding: 5px;

}


.nav__lista li a:hover{
    background-color:#c5d5f9;
    padding: 2px;
}

@media screen and (max-width: 730px){
    .nav__logo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }

    .nav__lista{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
}