@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar scrollbar en navegadores Webkit (Chrome, Safari) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Ocultar scrollbar en navegadores Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}