<section class="padre">
    <div class="container">
        <div class="play">
            <!-- <img src="./img/tiera.png" alt="tierra"> -->
            <button><a href="./page/card1.html">Play the game</a></button>
        </div>
        <div class="nosotros">
            <h1>NOSOTROS</h1>
            <p>
                Amadeus es una empresa de tecnología de viajes que ofrece soluciones de tecnología de vanguardia para que los viajes sean más fáciles, mejores y más accesibles para todos. Amadeus ofrece soluciones de tecnología de vanguardia para que los viajes sean más fáciles, mejores y más accesibles para todos. Amadeus ofrece soluciones de tecnología de vanguardia para que los viajes sean más fáciles, mejores y más accesibles para todos. Amadeus ofrece soluciones de tecnología de vanguardia para que los viajes sean más fáciles, mejores y más accesibles para todos. Amadeus ofrece soluciones de tecnología de vanguardia para que los viajes sean más fáciles, mejores y más accesibles para todos. Amadeus ofrece soluciones de tecnología de vanguardia para que los viajes sean más fáciles, mejores y más accesibles para todos. Amadeus ofrece soluciones de tecnología de vanguardia para que los viajes sean más fáciles, mejores y más accesibles para todos.
            </p>
        </div>
    </div>
</section>