<section class="padre">
    <div class="container">
        <div class="play" routerLink="/perfil">
            <!-- <img src="./img/tiera.png" alt="tierra"> -->
        </div>
        <div class="nosotros">
            <h1>Información</h1>
            <p>
                ¿Estás cansado de pasar horas buscando el destino perfecto para tu proximo viaje?
                ¿Te gustaría crear un viaje de acuerdo a tus preferencias y sin complicaciones? <br> <br>
                <strong>¡Dale click a la imagen y preparate para viajar!</strong>
            </p>
        </div>
    </div>
</section>