<body claas="container">
  <div class="conteiner__encabezado">

    <div class="opcion__link__item">
      <a routerLink="/destino"><i class="fa-solid fa-arrow-left"></i></a>
      <span class="tooltiptext">Volver a tus destino</span>
    </div>

    <h1 class="conteiner__encabezado__titulo">Destino seleccionado:</h1>
    <div class="conteiner__encabezado__imagen">
      <img [src]="srcA" alt=""/>
    </div>
    <h2 class="conteiner__encabezado__nombre">{{destino}}</h2>
  </div>

  <div class="container__hospedaje">

    <h2>Tus opciones de hospedaje:</h2>

    <div>
      <p> Estas son las opciones de hospedaje que te recomendamos según tus
        preferencias:</p>
    </div>

    <div class="container__hospedaje__opciones">
      <div class="container__hospedaje__opcion">

        <div class="container__hospedaje__opcion__img">
          <a href="https://www.palladiumhotelgroup.com/es/hoteles/mexico/costamujerescancun/trs-coral-hotel?gad_source=1&gclid=Cj0KCQjwzva1BhD3ARIsADQuPnUidFzwbGH4_ZKXIZK_Y24hcrmgBWK5yB9mTOcVSgpR1VBvCz4uFFwaAhvDEALw_wcB&gclsrc=aw.ds" target="_blank"><img src="../../../assets/img/trs-cancun.jpg" alt="" /></a>
        </div>
        
        <div class="container__hospedaje__opcion__info">
          <h3>TRS Coral Hotel</h3>
          <p>
            Se sitúa en Cancún, playa del carmen, cuenta con zona privada de
            playa, piscina al aire libre, wifi gratis en todo el hotel y 13
            restaurantes con diferentes menús.
          </p>
        </div>
      </div>
  
      <div class="container__hospedaje__opcion">
        <div class="container__hospedaje__opcion__img">
          <a href="https://www.riu.com/es/ofertas/unete-riu-class-LATAM.jsp?gad_source=1&gclid=Cj0KCQjwzva1BhD3ARIsADQuPnWnrDydr_vZS-uMKyFU8-40uzIbr8jLAtl4bm0wfBBc6RA8qa-zuUsaAmwUEALw_wcB&gclsrc=aw.ds" target="_blank"><img src="../../../assets/img/Riu-palace.jpg" alt="" /></a>
        </div>

        <div class="container__hospedaje__opcion__info">
          <h3>Riu Palace Hotel</h3>
          <p>
            Se sitúa en Cancún, playa del carmen, cuenta con zona privada de
            playa, piscina al aire libre, wifi gratis en todo el hotel y 13
            restaurantes con diferentes menús.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container__vuelos">

    <h2>Tus opciones de vuelos:</h2>
    <div class="vuelo-container">
      <p class="txt-parrafo">
        Estos son las dos opciones de vuelos que te recomedamos según tus
        preferencias:
      </p>
    </div>

    <div class="container__vuelos__opciones">
      <div class="container__vuelos__opcion">

        <div class="container__hospedaje__opcion__img">
          <a href="https://www.avianca.com/es/?poscode=CO&utm_source=gads&utm_medium=pros&utm_campaign=gs:es-co_br\core/geo@mde|col_co_cpc&utm_content=gs:es-co_br\core:av/ex+ph@avianca&gad_source=1&gclid=Cj0KCQjwzva1BhD3ARIsADQuPnVfF3NpddUFXW5Z2OCBSLe0icSmeRxNXumE0QkI5Yk5-hpOxnCObesaAuXMEALw_wcB" target="_blank"><img src="../../../assets/img/avion-avianca.jpg" alt="" /></a>
        </div>

        <div class="container__hospedaje__opcion__info">
          <h3>Avianca</h3>
          <p class="txt-parrafo">
            Avianca, una aerolínea Colombiana de categoria premiun, con más de 104
            años de trayectoria, volando a más de 104 destinos, con "Avianca el
            cielo es de todos".
          </p>
        </div>
        
      </div>
      <div class="container__vuelos__opcion">

        <div class="container__hospedaje__opcion__img">
          <a href="https://aeromexico.com/es-co/?gad_source=1&gclid=Cj0KCQjwzva1BhD3ARIsADQuPnVYHI_iukx21hbj-_3pOY_1J1hBakiHKE1tXN_GHM-wBCjZ2FzwP_IaAgkFEALw_wcB&gclsrc=aw.ds" target="_blank"><img src="../../../assets/img/Aeromexico-avion.jpg" alt=""/></a>
        </div>

        <div class="container__hospedaje__opcion__info">
          <h3>Aeromexico</h3>
          <p class="txt-parrafo">
            Aeromexico, una aerolínea Mexicana de categoria premiun, con más de 90
            años de trayectoria, volando a más de 104 destinos, con Aeromexico
            "estar cerca, llegar lejos".
          </p>
        </div>

      </div>
    </div>
  </div>
</body>
