<body>
  <header class="header-container">
    <div class="header-content">
      <h1>Tus opciones de destinos:</h1>
      <p class="txt-parrafo">
        Esta es la opción de destino que te recomendamos según tus preferencias.
      </p>
    </div>
  </header>
  <section class="destino-container">
    <div class="destino-group container">
      <div class="carmen-1">
        <img
          class="carmen-img"
          src="../../../assets/img/Playa-carmen-2.jpeg"
          alt=""
        />
        <h2>Playa del carmen.</h2>
      </div>
      <!-- <div class="santorini-1">
        <img class="Santorini-img" src="../img/Santorini.jpg" alt="" />
        <h2>Santorini.</h2>
      </div> -->
    </div>
  </section>
  <section class="hospedaje-container">
    <div class="hospedaje-content">
      <h2>Tus opciones de hospedaje:</h2>
      <p>
        Estas son las opciones de hospedaje que te recomendamos según tus
        preferencias.
      </p>
    </div>
    <div class="hospedaje-group container">
      <div class="hospedaje-1">
        <img src="../../../assets/img/trs-cancun.jpg" alt="" />
        <h3>TRS Coral Hotel</h3>
        <p>
          Se sitúa en Cancún, playa del carmen, cuenta con zona privada de
          playa, piscina al aire libre, wifi gratis en todo el hotel y 13
          restaurantes con diferentes menús.
        </p>
      </div>
      <div class="hospedaje-1">
        <img src="../../../assets/img/Riu-palace.jpg" alt="" />
        <h3>Riu Palace Hotel</h3>
        <p>
          Se sitúa en Cancún, playa del carmen, cuenta con zona privada de
          playa, piscina al aire libre, wifi gratis en todo el hotel y 13
          restaurantes con diferentes menús.
        </p>
      </div>
    </div>
  </section>
  <section class="vuelo-container">
    <div class="vuelo-container">
      <h2>Tus opciones de vuelos:</h2>
      <p class="txt-parrafo">
        Estos son las dos opciones de vuelos que te recomedamos según tus
        preferencias:
      </p>
    </div>
    <div class="vuelo-group content">
      <div class="vuelo-1">
        <img src="../../../assets/img/avion-avianca.jpg" alt="" />
        <h3>Avianca</h3>
        <p class="txt-parrafo">
          Avianca, una aerolínea Colombiana de categoria premiun, con más de 104
          años de trayectoria, volando a más de 104 destinos, con "Avianca el
          cielo es de todos".
        </p>
      </div>
      <div class="vuelo-1">
        <img src="../../../assets/img/Aeromexico-avion.jpg" alt="" />
        <h3>Aeromexico</h3>
        <p class="txt-parrafo">
          Aeromexico, una aerolínea Mexicana de categoria premiun, con más de 90
          años de trayectoria, volando a más de 104 destinos, con Aeromexico
          "estar cerca, llegar lejos".
        </p>
      </div>
    </div>
  </section>
</body>
