<main class="conteiner">
    <h1 class="conteiner__titulo">Tus Destinos:</h1>
    <div class="conteiner--opciones">

        <section class="opciones--opcion">

            <div class="opcion__encabezado">
                <h2 class="opcion__encabezado__nombre">Aventura en América</h2>
            </div>

            <div class="opcion__destino">
                <input [value]="america" class="opcion__encabezado__destino focus-in-expand" type="text" readonly id="destinoAmerica">
            </div>

            <div class="opcion__imagen">
                <img [src]="srcA" alt="Destino en America" id="imagenAmerica">
                <div class="overlay">
                    <div class="text">
                        <p>Pais:</p> <input class="text__input" type="text" [value]="datosA[0]" readonly>
                        <p>Idioma:</p><input class="text__input" type="text" [value]="datosA[1]" readonly>
                        <p>Lugar Imperdible:</p><input class="text__input" type="text" [value]="datosA[2]" readonly>
                        <p>Comida típica:</p><input class="text__input" type="text" [value]="datosA[3]" readonly>
                    </div>
                </div>
            </div>

            <div class="opcion__link__item">
                <a href=""><img src="../../../assets/img/paquete.png" alt=""></a>
                <span class="tooltiptext">Explora tus opciones</span>
            </div>

        </section>

        <section class="opciones--opcion">

            <div class="opcion__encabezado">
                <h2 class="opcion__encabezado__nombre">Aventura en Europa</h2>
            </div>

            <div class="opcion__destino">
                <input [value]="europa" class="opcion__encabezado__destino focus-in-expand" type="text" readonly id="destinoEuropa">
            </div>

            <div class="opcion__imagen">
                <img [src]="srcE" alt="Destino en Europa" id="imagenEuropa">
                <div class="overlay">
                    <div class="text">
                        <p>Pais:</p> <input class="text__input" type="text" [value]="datosE[0]" readonly>
                        <p>Idioma:</p><input class="text__input" type="text" [value]="datosE[1]" readonly>
                        <p>Lugar Imperdible:</p><input class="text__input" type="text" [value]="datosE[2]" readonly>
                        <p>Comida típica:</p><input class="text__input" type="text" [value]="datosE[3]" readonly>
                    </div>
                </div>
            </div>

            <div class="opcion__link__item">
                <a href=""><img src="../../../assets/img/paquete.png" alt=""></a>
                <span class="tooltiptext">Explora tus opciones</span>
            </div>

        </section>
    </div>
</main>
