*{
    margin: 0;
    padding: 0;
}


@-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
@keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

.conteiner{
    height: 80vh;
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: #000835;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    gap: 2vh;
}

.conteiner__titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.focus-in-expand {
	-webkit-animation: focus-in-expand 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.opcion__encabezado__destino{
    font-weight: bolder;
}

.conteiner--opciones{
    display: flex;
    justify-content: space-evenly;
    height: 75%;

}

@media screen and (max-width: 767px) {

  .conteiner--opciones{
    display: flex;
    flex-direction: column;
    gap:30px
  }

}

.opciones--opcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    justify-content: space-between;
    background-color: #c5d5f9;

    -webkit-box-shadow: 18px 14px 0px 2px #3a8bff;
    -moz-box-shadow: 18px 14px 0px 2px #3a8bff;
    box-shadow: 18px 14px 0px 2px #3a8bff;
}

@media screen and (max-width: 767px) {

  .opciones--opcion{
    width: 75%;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    align-self: center;
  }

}

.opcion__encabezado{
  height: 10%;
}

.opcion__destino{
  height: 10%;
}

.opcion__imagen{
    height: 60%;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}

.opcion__imagen img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  width: 900px;
  height: 900px;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #000835;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.opcion__imagen:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 15px;
  font-weight: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align:left;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 5px;
}

@media screen and (max-width: 767px) {

  .text{
    left: 60%;
  }
}

.opcion__link__item img{
    width: 30px;
}


.opcion__link__item .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #000835;
    color: #ffffff;
    text-align: center;
    border-radius: 8px;
    font-size: 13px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

.opcion__link__item:hover .tooltiptext {
    visibility: visible;
  }

input{
    text-align: center;
    border: none;
    background-color: #c5d5f9;
    font-size: 20px;
}

.text__input{
    text-align:left;
    color: #c5d5f9;
    border: none;
    background-color: #000835;
    font-size: 15px;
}

