<main class="container__general">
    <div class="datos" (click)="bloquear()">
        <div class="datos__imagen">
            <img src={{avatar}} width="100%">
        </div>
        <h1>{{nombre}}</h1>
    </div>
    <div class="titulo">
        <h1 class="scale-in-ver-center">{{pregunta}}</h1>
    </div>
    
    <div class="container">

        <div class="card">
            <div class="face front">
                <img [src]="img1" alt="imagen_playa">
                <h3>{{opcion1}}</h3>
            </div>

            <div class="face back">
                <h3>¿Sabias qué...</h3>
                <p>{{dato1}}
                </p>
            </div>
        </div>

        <div class="card">
            <div class="face front">
                <img [src]="img2" alt="imagen_montaña">
                <h3>{{opcion2}}</h3>
            </div>

            <div class="face back">
                <h3>¿Sabias qué...</h3>
                <p>{{dato2}}
                </p>
            </div>
        </div>

        <div class="card">
            <div class="face front">
                <img [src]="img3"  alt="imagen_cuidad">
                <h3>{{opcion3}}</h3>
            </div>
        
            <div class="face back">
                <h3>¿Sabias qué...</h3>
                <p>{{dato3}}
                </p>
            </div>
        </div>
    </div>
    <form class="radio">
        <div>
            <label>Opción 1 
                <input type="radio" [value]="opcion1" name="opciones" [(ngModel)]="opcSelect" (change)="verificarSeleccion()"> 
            </label>
            
        </div>
        <div>
            <label>Opción 2 
                <input type="radio" [value]="opcion2" name="opciones" [(ngModel)]="opcSelect" (change)="verificarSeleccion()"> 
            </label>
            
        </div>
        <div>
            <label>Opción 3
                <input type="radio" [value]="opcion3" name="opciones" [(ngModel)]="opcSelect" (change)="verificarSeleccion()">
            </label>
            
        </div>
    </form>

    <div class="navegacion">
            <ul>
                <li routerLink="/perfil">Perfil</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
            </ul>
    </div>

    <form class="botones">
        <button type="button" (click)="atras()" [disabled]="disAtras">Atrás</button>
        <button type="button" (click)="siguiente()" [disabled]="disSig" [hidden]="hidSig">Siguiente</button>
        <button type="button" [hidden]="calcular" routerLink="/resultados">Calcular Destino</button>
    </form>
</main>

